@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --primary: #87CABA;
    --secondary: #F4D556;
    --pink: #f59293;
    --black: #141414;
    --white: #ffffff;
    --light-grey: #fafafa;
    --border-radius: 30px;
    --box-shadow: 0px 3px 6px #00000029;
    --transition: all .25s ease-in-out;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h3 a {
	font-family: "Poiret One", serif!important;
}

p,
a {
	font-family: "Montserrat", serif!important;
}

h1,
h2,
h3 {
    font-weight: 700!important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    transition: var(--transition);
}

p {
    font-size: 16px;
}

.width-50 p {
	width: 50%;
	margin: 0 auto;
}

.label.elementor-widget {
	width: fit-content;
}

.label {
	background-color: var(--secondary);
	padding: 5px 15px;
	font-weight: 700;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}

.label.large {
	font-size: 20px;
}

.label.center {
	margin: 0 auto;
}

.label.blue {
	background-color: #6EC1E4;
}

.label.blue.large p {
	margin: unset;
	padding: 15px;
}

.label p {
	margin: 0;
}

ul li,
ol li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    flex-direction: row;
    gap: unset;
}

.menu-item-has-children {
    flex-direction: row;
}

.elementor img {
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    transition: var(--transition);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.review-text-wrapper {
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.review-text-wrapper i {
    color: #FFD700;
    font-size: 20px;
}

.review-text-wrapper p {
    color: var(--white);
    font-size: 16px;
    margin: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section .row {
    width: 100%;
    max-width: 1600px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 60px auto;
    padding: 0 60px;
}

.section .row .col {
    flex: 1 0 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* RESET FORM FAMILY UL + OL */

.form-wrapper {
    display: flex;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 3px;
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

#submit-job-form .form-group {
    border-top: none!important;
}

.select2-search__field {
    border: none!important;
}

.form-wrapper input,
input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border: 1px solid var(--primary)!important;
    border-radius: 10px;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-wrapper input[type="checkbox"] {
    width: fit-content;
    flex: 0;
    height: fit-content;
}

.form-checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 16px;
}

.form-checkbox-wrapper label {
    margin-bottom: 0;
}

.form-checkbox-wrapper .heading {
    font-weight: 700;
    color: var(--primary);
}

select {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

select option {
    padding: 5px;
}

select:-internal-list-box option:checked {
    background-color: var(--primary);
}

.form-wrapper input:focus,
input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.form-wrapper .form-row.col {
    display: flex;
    flex-direction: column;
}

.messaging-center.inbox-header-icon {
	display: none;
}

.header .header-container {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header.header-style-alternate.header-scroll .header-container .header-top .logo a img, .header.header-style-default .header-container .header-top .logo a img  {
	max-height: 60px!important;
}

.file-upload-field .description {
    display: none;
}

#form-section-general-nav,
#form-section-general {
    display: none;
}

.add-listing-step .section-title {
    display: none;
}

.elementor-icon-box-wrapper .elementor-icon-box-icon {
    transition: var(--transition);
}

.elementor-icon-box-wrapper:hover .elementor-icon-box-icon {
    scale: 1.20;
    transition: var(--transition);
}

#submit-job-form .form-group.field-type-url {
    padding: 20px!important;
}

.footer .c_widget {
    width: 100%;
}

.footer .c_widget .menu > li > a,
.footer p,
.footer a,
.footer .copyright a,
.copyright a {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}

.footer .custom-footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer .custom-footer .wp-block-column {
	flex: 1 0;
}

.footer .custom-footer .wp-block-column:nth-of-type(2) {
	flex: 2 0;
}