<div class="section">
    <div class="row">
        <div class="col">
            <h2 style="color: #ffffff">
                Onze tevreden klanten aan het woord
            </h2>
        </div>
        <div class="col">
            <div class="review-wrapper wrapper">
                <p class="review-body" id="review-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat commodi perferendis minima nisi enim temporibus voluptatibus voluptas eligendi magni natus?
                </p>
                <p class="review-author" id="review-author">
                    Client name x
                </p>
                <div class="dots" id="dots">
                    <div class="dot" id="dot1"></div>
                    <div class="dot active" id="dot2"></div>
                    <div class="dot" id="dot3"></div>
                </div>
            </div>
        </div>
    </div>
</div>