<div class="form-wrapper">
    <form action="https://formspree.io/f/mqkrazra" method="post" target="_blank" novalidate>
        <div class="form-row">
            <input type="text" value="" name="first-name" placeholder="First name*" required>
            <input type="email" value="" name="company" placeholder="Last name*" required>
        </div>
        <div class="form-row">
            <input type="email" value="" name="email" placeholder="Email address*" required>
        </div>
        <div class="form-row">
            <input type="text" value="" name="message" placeholder="How can we help you?*">
        </div>
        <input type="submit" value="Send ➔" name="subscribe" class="btn">
    </form>
</div>