<label> Jouw naam
    [text* your-name] </label>

<label> Jouw mail
    [email* your-email] </label>

<label> Jouw GSM
    [tel* your-phone] </label>

<label> Hoe ken je Gusto Mundo?
    [select* how-do-you-know multiple "Mond op mond reclame" "Sociale Media" "Nieuwsbrief"] </label>

<label> Bedrijfsnaam
    [text* company-name] </label>

<label> BTW nummer
    [text* vat-number] </label>

<label> Adres
    [text* company-address] </label>

<label> Postcode + gemeente
    [text* city] </label>

<label> Website
    [url your-website] </label>

<label> Welke categorie?
    [select* categorie multiple "Slapen" "Eten" "Beleven"] </label

[submit "Verstuur"]