<div class="form-wrapper">
    <form action="https://formspree.io/f/mayrbzvb" method="post" target="_blank" novalidate>
        <div class="form-row">
            <input type="text" value="" name="first-name" placeholder="Voornaam*" required>
        </div>
        <div class="form-row">
            <input type="email" value="" name="email" placeholder="Email adres*" required>
        </div>

        <div class="form-checkbox-wrapper">
            <div class="form-row">
                <p class="heading">
                    In wat heb je interesse?
                </p>
            </div>
    
            <div class="form-row">
                <input type="checkbox" id="slapen" name="slapen" />
                <label for="slapen">Slapen</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="eten" name="eten" />
                <label for="eten">Eten</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="beleven" name="beleven" />
                <label for="beleven">Beleven</label>
            </div>
        </div>

        <input type="submit" value="Schrijf je in ➔" name="subscribe" class="btn">
    </form>
</div>