<div class="form-wrapper">
    <form action="https://formspree.io/f/mqkrydpe" method="post" target="_blank" validate="">
        <div class="form-row">
            <input type="text" value="" name="first-name" placeholder="Jouw naam*" required>
        </div>
        <div class="form-row">
            <input type="email" value="" name="email" placeholder="Jouw mail*" required>
        </div>

        <div class="form-checkbox-wrapper">
            <div class="form-row">
                <p class="heading">
                    Hoe heb je ons leren kennen?
                </p>
            </div>
    
            <div class="form-row">
                <input type="checkbox" id="mond-aan-mond-reclame" name="mond-aan-mond-reclame">
                <label for="mond-aan-mond-reclame">Mond aan mond reclame</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="sociale-media" name="sociale-media">
                <label for="sociale-media">Sociale media</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="vrienden-collegas" name="vrienden-collegas">
                <label for="vrienden-collegas">Vrienden/collega's</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="nieuwsbrief" name="nieuwsbrief">
                <label for="nieuwsbrief">Nieuwsbrief</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="andere" name="andere">
                <label for="andere">Andere</label>
            </div>
        </div>

        <div class="form-checkbox-wrapper">
            <div class="form-row">
                <p class="heading">
                    Gewenste categorie?
                </p>
            </div>
    
            <div class="form-row">
                <input type="checkbox" id="slapen" name="slapen">
                <label for="slapen">Slapen</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="eten" name="eten">
                <label for="eten">Eten</label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="beleven" name="beleven">
                <label for="beleven">Beleven</label>
            </div>
        </div>

        <input type="submit" value="Aanvraag versturen ➔" name="subscribe" class="btn">
    </form>
</div>